<section class="py-5 bg-light">
  <div class="container text-center">
    <h1 class="display-4 fw-bold">ALPHA BLOG</h1>
    <p class="lead text-muted">Read faster, smarter, and simpler.</p>
    <%= link_to "sign Up", "#", class:"btn btn-primary btn-lg mt-3" %>
  </div>
</section>