<section class="py-5 my-4 bg-light" id="hero-section">
  <div class="container text-center">
    <h1 class="display-4 fw-bold">ALPHA BLOG</h1>
    <p class="lead ">Read faster, smarter, and simpler.</p>
    <%= link_to "Sign Up", "#", class:"btn btn-primary btn-lg mt-3" %>
  </div>
</section>