<h1 align="center">Listing All Categories</h1>

<div class="d-flex justify-content-center mt-4">
<%= paginate @categories %>
</div>

<%= render 'category', obj: @categories %>

<div class="d-flex justify-content-center"  >
<%= paginate @categories %>
</div>