<footer class="bg-dark text-white pt-4 pb-2 mt-5">
  <div class="container">
    <div class="row">

      <!-- Brand / About -->
      <div class="col-md-4 mb-3">
        <h5>MyBrand</h5>
        <p>Helping you grow your business with smart tools and solutions.</p>
      </div>

      <!-- Navigation Links -->
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Home</a></li>
          <li><a href="#" class="text-white text-decoration-none">About</a></li>
          <li><a href="#" class="text-white text-decoration-none">Services</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-4 mb-3">
        <h5>Follow Us</h5>
        <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-white me-3"><i class="bi bi-instagram"></i></a>
        <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>

    <!-- Copyright -->
    <div class="text-center border-top pt-3">
      <p class="mb-0">&copy; 2025 MyBrand. All rights reserved.</p>
    </div>
  </div>
</footer>