<% Rails.logger.debug "Validation Messages: #{flash.inspect} " %>

<turbo-frame id="flash">
  <% flash.each do |name, msg| %>
    <% next unless msg.is_a?(String) %>
    <% bs_class = {
      success: "success",
      notice:  "success",
      alert:   "danger",
      error:   "danger",
      warning: "warning",
      info:    "info"
    }[name.to_sym] || "secondary" %>

    <div class="alert alert-<%= bs_class %> alert-dismissible fade show" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</turbo-frame>
